name: Build and Push Webapp Image

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TESTTOKEN }}

      - name: Build and Push Webapp Image to GHCR
        run: |
          docker build -t ghcr.io/alingbukang/test:${{ github.sha }} .
          docker push ghcr.io/alingbukang/test:${{ github.sha }}
          docker tag ghcr.io/alingbukang/test:${{ github.sha }} ghcr.io/alingbukang/test:latest
          docker push ghcr.io/alingbukang/test:latest